
.fullpage {
    margin: 0 auto;
    /* text-align: center; */
}

.maincontent {
    width: 960px;
    margin: 0 auto;
    border-color: #dddddd;
    background-color: white;
}

h1 {
    color: white;
    background-color: teal;
    padding: 20px;
    float: left;
}

ul {
    display: inline;
    padding: 10px;
    list-style-type: none; /* This will remove the bullets*/
}

li {
    float: right;
}

li a {
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    text-decoration: none;
}

a :hover {
    color: darkblue;
    font-size: 200%;
}

.contact {
    clear: both;
    color: teal;
    padding-top: 20px;
}

.form {
    width: 95%;
    box-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* #message {
resize: both;
overflow: auto;
} */

.submit {
    background-color: teal;
    color: white;
    float: left;
    margin-top: 20px;
    position: relative;
}


.text {
    width: 95%;
}

.footer {
color: white;
width: 100%;
position: absolute;
bottom: 0; /* This will allow footer text on the bottom */
text-align: center;
font-size: 10px;
padding-top: 20px;
padding-bottom: 5px;
background-color: #666666;
}

@media  screen and (max-width:980px) {
    /* For large devices: */
    .maincontent {
      width: 80%;
      padding: 0;
    }
  }
@media  screen and (max-width:768px) {
    /* For tablets: */
    .maincontent {
      width: 80%;
      padding: 0;
    }
  }
  @media  screen and (max-width:640px) {
    /* For mobile phones: */
    .maincontent {
      width: 100%;
      padding: 0;
    }
  }